[submodule "Showtime-Python"]
	path = Showtime-Python
	url = https://github.com/Mystfit/Showtime-Python
[submodule "Showtime-Csharp"]
	path = Showtime-Csharp
	url = https://github.com/Mystfit/Showtime-Csharp
[submodule "Showtime-Live"]
	path = Showtime-Live
	url = https://github.com/Mystfit/Showtime-Live
